LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.stewgleadow.$(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 8S3QUDD6DM
SWIFT_VERSION = 4.0
TEST_TARGET_NAME = SampleNoSettings
